

*{
    box-sizing: border-box;
    text-align: center;
    }
    
    body {
      font-size: 24px;
      margin: 10px;
      Background: #777;
      Content: #ebebeb;
    }
    header {
           background-color: #ebebeb;
           padding: 20px;
           margin-left: 200px;
           margin-bottom: 10px;
           width:960px;
           color:#777;
          }
    
    #nav {
        background-color: #ebebeb;
        padding: 20px;
        margin-left: 200px;
        margin-bottom: 20px;
        width:960px;
        color:#777;
            }

    #section {
        background-color: #ebebeb;
        padding: 20px;
        margin-left: 200px;
        margin-bottom: 20px;
        width:540px;
        height: 300px;
        color:#777;
        float: left;
            }

    #aside {
        background-color: #ebebeb;
        padding: 20px;
        margin-left: 760px;
        margin-bottom: 20px;
        width:400px;
        height: 300px;
        color:#777;
            }    
    #article {
        background-color: #ebebeb;
        padding: 20px;
        margin-left: 200px;
        margin-bottom: 20px;
        width:960px;
        color:#777;
            }  
    #h1h2h3 {
        background-color: #ebebeb;
        padding: 20px;
        margin-left: 200px;
        margin-bottom: 20px;
        width:960px;
        color:#777;
            }
              
     footer {
        background-color: #ebebeb;
        padding: 20px;
        margin-left: 200px;
        margin-bottom: 20px;
        width:960px;
        color:#777;
            }